p{
    color: red;
    line-height: 30px;
}
h1,h3,h4, p,button{
    text-align: center;
}
h3{
    color: black;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: rgb(0,255,0)
}
a{
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;

}
.button-and-textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  span{
    text-decoration: underline;
  }

